.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  /*overflow: hidden;*/
}

.main .count {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 70px;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
}

.main .count * {
  margin: 5px;
  padding: 10px;
  line-height: 1;
}

.main .count button {
  background: #000;
  border: none;
  color: #fff;
  border-radius: 0;
  padding: 20px 15px;
}

.main .count button.empty {
  min-width: 150px;
  flex: 1;
}
